body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.header-image {
	height: auto;
	display: block;
	width: 100%;
	text-align: center;
}

.headline {
	padding: 120px 0;
}

.jumbotron h1 {
    letter-spacing: -2px;
    line-height: 1;
    margin: 0 0 15px;
}

.jumbotron h2 {
	font-size: 30px;
    font-family: proxima-nova-sc-osf,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: lighter;
}
.jumbotron .btn {
    margin-top: 22px;
    font-family: museo-slab,Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    padding: 17px 30px;
    color: #fff;
    border-color: #c7e7dc;
    background-color: transparent;
}
.credits {
    margin-top: 22px;
    font-size: 14px;
    line-height: 1.428571429;
}

.featurette-divider {
	margin: 80px 0;
}
.featurette {
	overflow: hidden; 
}

.featurette-image.pull-left {
	margin-right: 40px;
}
.featurette-image.pull-right {
	margin-left: 40px;
}

.featurette-heading {
	font-size: 50px;
}

footer {
	margin: 50px 0;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {

.headline > .container > h1 {font-size: 140px;}
.headline > .container > h2 {font-size: 63px;}
.featurette-divider {margin: 50px 0;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 991px) {

.headline > .container > h1 {font-size: 105px;}
.headline > .container > h2 {font-size: 50px;}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {
	
.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.headline > .container > h1 {font-size: 60px;}
.headline > .container > h2 {font-size: 30px;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}
.featurette-image {max-width: 100%;}
.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}

}