.header-image {
	height: auto;
	display: block;
	width: 100%;
	text-align: center;
}
.jumbotron {
    background: #5cb85c;
    color: #fff;
    padding-top: 100px;
    text-align: center;
}

.jumbotron h1 {
    font-size: 90px;
    letter-spacing: -2px;
    line-height: 1;
    margin: 0 0 5px;
}

.jumbotron h2 {
	font-size: 30px;
    font-family: proxima-nova-sc-osf,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: lighter;
    margin: 0;
}
.jumbotron .btn {
    margin: 30px auto 0 auto;
    font-size: 24px;
    padding: 17px 30px;
    border-color: #c7e7dc;
    background-color: transparent;
}
.jumbotron .btn:hover {
    background-color: #f4faf8;
    border-color: #f4faf8;
    color: #5cb85c;
    text-shadow: 0 -1px 0 #fff;
}
.jumbotron .fa-stack {
    color: #333;
}
.jumbotron .fa-stack {
        font-size: 8em;
}
.jumbotron .fa-text {
    color: #5cb85c;
    font-size: .7em;
    line-height: 2.2em;
}
.jumbotron .fa-stack-1x, 
.jumbotron .fa-stack-2x {
    left: 0;
}
.credits {
    margin-top: 22px;
    font-size: 14px;
    line-height: 1.428571429;
}
.credits a {
    color: #bbe2d5;
    border-bottom: dotted 1px #8eceba;
}
.credits a:hover, 
.credits a:focus {
    text-decoration: none;
    color: #198764;
    border-bottom: solid 1px #198764;
}
.featurette-divider {
	margin: 40px 0;
}
.screenshot {
-webkit-box-shadow: 0 0 10px #333;
        box-shadow: 0 0 10px #333;
}
p {
    font-size: 16px;
}

footer {
	margin: 50px 0;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {

}

@media (max-width: 991px) {
.screenshot { margin: 0 auto; }
.featurette-divider {margin: 40px 0;}

}

@media (max-width: 768px) {


.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}

}


@media (max-width: 668px) {

.jumbotron h1 {font-size: 70px;}
.jumbotron h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.jumbotron h1 {font-size: 60px;}
.jumbotron h2 {font-size: 30px;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}

}